asgiref==3.6.0
beautifulsoup4==4.11.2
behave==1.2.6
behave-django==1.4.0
Django==4.1.7
djangorestframework==3.14.0
parse==1.19.0
parse-type==0.6.0
python-decouple==3.7
pytz==2022.7.1
selenium==3.141.0
six==1.16.0
soupsieve==2.4
sqlparse==0.4.3
tzdata==2022.7
urllib3==1.26.14
